
.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

.imageContainer {

    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(177, 169, 59);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }